* {
    margin: 0;
    padding: 0;
}

body {
    font-family: sans-serif;
}

/* Navigation styles */
.logo{
    background-image: url("../images/jakes-logo.png");
    height: 200px;
    background-repeat: no-repeat;
    background-position: center;
}

.nav {
    background-color: rgba(0, 0, 0, 1);
    display: flex;
    padding: 20px;
    justify-content: space-around;
    align-items: center;
    margin: 0 5px;
    border-radius: 10px;
}


.center a {
    padding: 20px;
    text-decoration: none;
    color: #fff;
    font-size: 1.2em;
}

.center a:hover {
    color:#f00;
}

.left .right, button {
    padding: 20px;
    font-size: 15px;
    border-radius: 5px;
    cursor: pointer;
}
.left .right, button:hover {
    color:#f00;
}

.left button {
    background-color: lightblue;
}

.right button {
    background-color: yellow;
}


/* Column styles */
.column {
    display: flex;
    flex-direction: column;
    width: 800px;
    height: 1200px;
    margin: 0 auto;
    scroll-behavior: smooth;

}

.meal1, .meal2, .meal3 {
    display: flex;
    align-items: flex-end;
    justify-content: center;
    margin-bottom: 20px;
    height: 100%;
    width: 100%;
    border-radius: 10px;
    
}

.meal1 {
    margin-top: 20px;
    background-image: url(../images/steak.png);
    background-position: center;
    background-repeat: no-repeat;
    
}

.meal2 {
    background-image: url(../images/soup.png);
    background-position: center;
    background-repeat: no-repeat;

}

.meal3 {
    background-image: url(../images/cheesecake.png);
    background-position: center;
    background-repeat: no-repeat;
}

.text {
    color: #fff;
    background-color: rgba(0, 0, 0, 0.7);
    padding: 25px 50px;  
    border-bottom-right-radius: 10px;       
    border-bottom-left-radius: 10px;  
}

.text h1 {
    margin-bottom: 20px;
    font-family: inter;
    font-size: 35px;
}

.text p {
    color: rgba(250, 250, 250, 0.7)
}


/* Footer Styles */
.footer {
    background-color: rgba(0, 0, 0, 1);
    display: flex;
    padding: 10px;
    justify-content: center;
    align-items: center;
    margin: 0 5px;
    border-radius: 10px;
    padding: 40px;
    margin-bottom: 5px;
}

.footer a {
    text-decoration: none;
    padding: 0px 50px;
}

.footer a:hover {
    color:#fff;
}

.fb {
    color: blue;
}

.tw {
    color: yellow;
}

.ig {
    color: red;
}